<div class="container">
  <h1 class="text-center">Wyszukiwarka gier po cenie</h1>
  <div class="row m-3">
    <div class="col-sm">
      <input class="" type="number" #cena placeholder="Kwota" class="text-left mb-2" style="width:100%">
    </div>
    <div class="col-sm">
      <select class="mb-1" style="width: 100%;" #typ>
        <option value="?lowerPrice=">Powyżej tej kwoty</option>
        <option value="?upperPrice=">Poniżej tej kwoty</option>
      </select>
    </div>
   
    <button (click)="getListForQuery(cena.value, typ.value)" class="btn btn-primary">Wyszukaj</button>
  </div>
  <ng-container >
    <h6 class="text-secondary"></h6>
    <div *ngFor="let game of games | async" class="row">
      <div class="card col-3 m-auto mt-3" >
        <img class="card-img-top" [src]="game.thumb" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{game.title}}</h5>
          <p class="card-text">Cena: <strong class="text-success">${{game.salePrice}}</strong></p>
          <a [href]="'https://store.steampowered.com/search/?term=' + game.title" class="btn btn-primary">Wyszukaj na steam</a>
        </div>
      </div>
    </div>
  </ng-container>
  
</div>